__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.env.*
.git
.gitignore
.vscode
.idea
*.md
tests/
docs/
venv/
.venv/
.ipynb_checkpoints
*.ipynb
AdhocTest.ipynb
AdhocUsageCOunt.py
AdhocVectorizedocs.py
AdhocVectorizer.ipynb
dadownload.py
GenerateDescriptionforDoc.py
GenerateDescriptionforZip.py
generateMetadatavectors.py
gtlflowtest.py
PdfRndTest.ipynb
Regex_pattern_check.ipynb
test.py
TestClassiRedac.py
TestClassiRedact.py
TestConsultantFlow.ipynb
testexcel.ipynb
testexcel.py
TestGtlFlow.ipynb
Testrefinerecommendation.py
test_docreader_fix.py
ValidationOfferClassification.py
ValidationSOWOfferClassification.py
zip_summary.py